<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.mapper.RoleMapper">

    <select id="findRolesByUserId" resultType="com.security.domain.entity.Role">
        select
            id,
            name,
            remark
        from
            tb_role r
        left join tb_user_role ur on ur.role_id = r.id
        where ur.user_id=#{username}
    </select>

</mapper>